{% extends 'client.html.twig' %}

{% block title %}Acceuil {% endblock %}
{% block body %}

<body>

<p style="font-weight:bold;font-size: 30px;">
LeSuperCoin
</p> 

<p style="font-weight:bold;font-size: 20px;height:40px;"> Bonjour utilisateur n°{{app.user.id}}</p>

<section id="haut">
<div class="saut"></div>
<div class="pre2">
<center>
</center>
</div>
</section>

</section>
<div class="saut"></div>
<div class="container">
<p>Bonjour bienvenue dans l'accueil de LeSuperCoin</p>
<br>

<p>
LeSuperCoin se présente comme une plateforme communautaire incontournable, offrant une expérience similaire à celle du Bon Coin. Sur ce site convivial, vous avez la liberté d'explorer une multitude d'annonces pour acheter ou vendre une variété de produits en mode C to C (consommateur à consommateur). Que vous recherchiez des articles d'occasion, des produits uniques ou des bonnes affaires, LeSuperCoin propose un espace diversifié où les utilisateurs peuvent interagir et conclure des transactions.
</p>
<p>
L'interface conviviale du site facilite la navigation et la recherche d'annonces pertinentes. Que vous soyez un acheteur en quête de bonnes affaires ou un vendeur souhaitant donner une seconde vie à vos objets, LeSuperCoin encourage l'échange au sein de sa communauté active. Des catégories variées permettent de couvrir un large éventail de produits, des biens de consommation courante aux articles plus spécialisés.
</p>
<p>
L'accent est mis sur la simplicité et la convivialité, offrant aux utilisateurs une plateforme intuitive pour mener à bien leurs transactions en toute confiance. Que ce soit pour dénicher des trésors cachés, vendre des objets dont vous n'avez plus besoin, ou simplement pour explorer les offres locales, LeSuperCoin s'érige comme un espace dynamique au service de la rencontre entre acheteurs et vendeurs passionnés.
</p>


</div>


<script src="./index.js"></script>

<!-- Les sources pour tout -->

<!-- Inclure le CSS de Bootstrap -->
<link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">

<!-- Inclure les scripts JavaScript de Bootstrap (jQuery doit être inclus en premier) -->
<script src="{{ asset('assets/bootstrap/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>

</body>



</html>

{% endblock %}
