{% extends 'client.html.twig' %}

{% block title %}Annonces index{% endblock %}

{% block body %}
    <h1>Annonces de tout les utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Createdat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.title }}</td>
                <td>{{ annonce.price }}€</td>
                <td>{{ annonce.createdat ? annonce.createdat|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_annonces_all_show', {'id': annonce.id}) }}">Voir les détails</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
